*, h2 ,p{
        box-sizing: border-box;
        margin : 0;
        padding: 0;
}

#navbar{
    background-image: linear-gradient(to right, #00bdff, #00a7ff, #008eff, #0073f9, #1254eb);
    min-height: 12vh;
    /* height: 70px; */
    box-shadow:0px 0px 10px #333;
    width: 100vw;
    z-index: 1;
    /* visibility: hidden; */
}
#nav-container {
    padding : 0px 30px;
}
.logo-content{
    display: flex;
    align-items: center;
}
.navbar-brand{
    margin-left: 15px;
}
.icon{
    font-size:x-large;
    cursor: pointer;
    margin: 0;
}

#user-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-text{
    font-weight: 600;
    margin-right: 8px;
    color : white;
}